.allproductdiv{
    width:100%;
    height:auto;
    background-color:yellow;
    padding:30px;
}
.producttshirt{
    width:50%;
    float:left;
    height:300px;
    background-color:black;
}
.producttshirt img{
    height:300px;
    max-width:100%;

}
.producttshirt img:hover{
    display:block;
    cursor:pointer;
    opacity:0.5;
}
.productsweater {
    width: 50%;
    float: left;
    height: 300px;
    background-color: blue;
}
.productpolo {
    width: 50%;
    float: left;
    height: 300px;
    background-color: orange;
}
.productacess {
    width: 50%;
    float: left;
    height: 300px;
    background-color: forestgreen;
}