.allproductdiv{
    width:100%;
    padding:0 40px;
}
/*trang all product*/
.producttshirt img,.productpolo img,.productsweater img,.productacess img {
    width:100%;

}
.productrow{
    width:100%;
    position:relative;
    float:left;
}
.producttshirt img:hover,.productacess img:hover,.productsweater img:hover,.productpolo img:hover{
    display:block;
    cursor:pointer;
    opacity:0.5;
}
.producttshirt, .productsweater, .productpolo, .productacess {
    width: 50%;
    float: left;
    background-color: #fff;
    padding:10px;
}
/*trang home*/
.producttshirt-main, .productsweater-main,.productpolo-main,.productacess-main{
    width: 25%;
    float: left;
    background-color: #fff;
    padding:5px;
}
.producttshirt-main img, .productpolo-main img, .productsweater-main img, .productacess-main img {
    width: 100%;
}
.producttshirt-main img:hover, .productacess-main img:hover, .productsweater-main img:hover, .productpolo-main img:hover {
    display: block;
    cursor: pointer;
    opacity: 0.5;
}
@media screen and (max-width:768px){
    .producttshirt, .productsweater, .productpolo, .productacess {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 10px;
    }
    .allproductdiv{
        padding:0 5px;
    }
}
@media screen and (max-width:1024px){
    .producttshirt, .productsweater, .productpolo, .productacess {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 10px;
    }
    .allproductdiv{
        padding:0 10px;
    }
}