table#detailproduct {
    margin: 0 40px;
}
.detailproduct table {
    border-collapse: collapse;
}
img.imgproduct {
    width: 500px;
    height: 503.8px;
    margin-right:40px;
}
td.motatd2 {
    background-color: #ffeccd;
    padding: 10px;
}

.nameproductdt {
    font-size: 24px;
}
.giaproductdt {
    font-size: 20px;
    margin-top: 10px;
}
hr.hrdetail {
    height: 5px;
    display: block;
    background-color: #F89521;
    width: 100%;
    max-width: 100px;
    margin:20px 0px;
}

.detailproduct span {
    font-weight: bold;
    width: 100%;
}

.sizebox {
    position: relative;
    margin: 20px 0 20px;
    float: left;
    width: 100%;
}

    .sizebox label {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

        .sizebox label input {
            display: none;
        }

        .sizebox label span {
            position: relative;
            display: inline-block;
            width: 40px;
            color: black;
            padding: 10px;
            background-color: #fff;
        }

.quantity {
    padding: 30px 0;
    position: relative;
}

span.btnquant {
    padding: 13px;
    margin: 0px 10px 0px 0px;
    background-color: #fff;
    cursor: pointer;
}

span#idquant {
    padding: 13px 30px;
    margin: 0px 10px 0px 0px;
    background-color: #fff;
}

.button-order-contain {
    margin-top: 40px;
}

.button-order {
    margin: 0px;
    background-color: #F89521;
    padding: 15px 140px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px;
    cursor: pointer;
}

    .button-order:hover {
        color: orange;
        background-color: white;
        border: 1px solid #F89521;
    }
.policy-group {
    background-color: pink;
    margin: 20px;
}

.policy {
    margin: 30px;
    padding: 5px;   
}

.policy-return-header {
    margin: 15px;
    cursor: pointer;
}

.policy-return-header, .policy-pm-header, .policy-ship-header {
    margin: 15px;
    cursor: pointer;
}

    .policy-return-header:hover, .policy-pm-header:hover, .policy-ship-header:hover {
        color: orangered;
    }

.policy-return-inf, .policy-pm-inf, .policy-ship-inf {
    padding: 5px 30px;
    font-size: 15PX;
}
button.more-product {
    margin: 15px;
    background-color: #F89521;
    padding: 15px 40px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px;
    cursor: pointer;
}

    button.more-product:hover {
        color: orange;
        background-color: white;
        border: 1px solid #F89521;
    }
.other-product-contain {
    margin: 0 25px;
}
td.otherproducttd {
    padding: 10px;
}
td.otherproducttd2{
    text-align:center;
    padding:10px;
    font-size:18px;
}
.detailproduct a {
    text-decoration: none;
    color: black;
}
.detailproduct a:hover {
    color: orange;
}
.otherproductimg:hover{
    transform:scale(1.1);
}
@media screen and (max-width:1024px) {
    table #detailproduct {
        margin: 0;
    }
    td.motatd2 {
        width: 100%;
    }
    img.imgproduct {
        width: 300px;
        height: 300px;
        margin-right: 0px;
    }

        table, table tr, table td {
            display: block;
            width: 100%;
        }
}

@media screen and (max-width: 768px) {
    table#detailproduct {
        margin: 0;
    }

    .tablecontain {
        width: 100%;
    }

    table, table tr, table td {
        display: block;
        width: 100%;
    }

}
