
* {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
    color:rgba(0,0,0,1);
}
/*Menu Nav*/

.container {
    display: flex;
    flex-wrap: wrap;
}


.searchbar input[type="text"] {
    border: 0;
    padding: 0 10px;
    width: 150px;
    height: 25px;
    border-radius: 3px;
    font-style: italic;
    color: lightgray;
}

nav {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffeccd;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo img {
    display: block;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}

    .nav-links li {
        display: flex;
        list-style-type: none;
        height: 8vh;
        align-content: center;
        
    }

    .nav-links a {
        display: flex;
        align-content: center;
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14px;
        /*background-color:blueviolet;*/
        align-items: center;
    }

    .nav-links li a:hover {
        color: orange;
    }

nav ul li {
    position: relative;
}

    nav ul li ul {
        position: absolute;
        left: 0;
        top: 8vh;
        display: block;
        display:none;
        
        
    }

        nav ul li ul li {
            display: block;
           
        }

nav ul ul li a {
    width: 200px;
    padding-left: 20px;
    background-color: #ffeccd;
    box-shadow: 2px 1px 2px rgba(0,0,0,0.5);
}

nav ul li:hover > ul {
    
    display:block;
}

.nav-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .nav-icon li {
        list-style: none;
        padding-left: 7px;
        padding-right: 7px;
    }

.burger {
    display: none;
    cursor: pointer;
}

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }

#img-thump{
    width:100%;
    height:auto;
    margin-top:10px;
}
.btn {
    background-color: #ffce7d;
    margin-bottom:15px;
}

/*Tablet*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/*hamburger to X*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.icon1 {
    position: relative;
}

.icon2 {
    position: relative;
}
/*footer*/
footer {
    display: flex;
    flex-flow: row wrap;
   
}

.footer > * {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25cm;
    margin-bottom: 2cm;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2cm;
}

.footer a {
    text-decoration: none;
}

.footer-right {
}





.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: black;
    background-color: #ffeccd;
}

.social a {
    padding: 0 5px 0 0;
}

.footer > * {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

    .l-footer p {
        text-align: justify;
    }

.r-footer h2 {
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-align:left;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

    .r-footer > * {
        flex: 1 50%;
        margin-right: 0.5em;
    }

.box a {
    color: black;
}

.h-box {
    column-count: 1;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #545454;
    padding-top: 30px;
}

.l-footer p {
    padding-right: 20%;
    color: #000;
}

.r-footer > * {
    flex: 1;
}

.l-footer {
    flex: 1 0px;
}

.ic-uptop {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #F89521;
    opacity:0.7;
    bottom: 90px;
    right: 50px;
    /*border: 1px solid #F89521;*/
    border-radius: 30px;
}


.r-footer {
    flex: 2 0px;
}
/*Content*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    background: #2c3e50;
}

.myslider {
    height: 92vh;
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

    .prev:hover, .next:hover {
        color: orange;
    }

.next {
    right: 0;
}

.dotbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active, dot:hover {
    border-color: darkorange;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

.slider .txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 47%;
    left: 30%;
    -webkit-animation: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@keyframes posi {
    from {
        left: 35%;
    }

    to {
        left: 30%;
    }
}

.slider .txt h1 {
    color: #fff;
    font-weight: bold;
    font-size: 80px;
}

.slider img {
    transform: scale(1.5,1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1,1);
    }

    to {
        transform: scale(1.5,1.5);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1,1);
    }

    to {
        transform: scale(1.5,1.5);
    }
}
@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }
    /*Thiết lập cho menu đổ dọc xuống*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffeccd;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }   

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    /*slider*/
    .myslider {
        height: 60vh;
    }
    .prev, .next {
        top: 38vh;
    }
    .dotbox {
        bottom: 35vh;
    }
    .slider .txt {
        top: 37vh;
    }
    .slider .txt h1 {
    font-size: 50px;
    }
}
/*Mobile*/
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    /*Thiết lập cho menu đổ dọc xuống*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffeccd;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .dropdown-1 {
        display: none;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .l-footer {
        flex: 2 0px;
    }
    .social a {
        padding: 0 3px 0 0;
    }
    /*slider*/
    .myslider {
        height: 30vh;
    }
    .prev, .next {
        top: 23vh;
    }
    .dotbox {
        bottom: 63vh;
    }
    .slider .txt {
        top: 21vh;
    }
    .slider .txt h1 {
    font-size: 26px;
    }
}

.nav-active {
    transform: translateX(0%);
}


/*CART*/
.cart-page {
    margin: 0 80px auto;

}
.small-container table{
   border-collapse:collapse;
    width:100%;
    
}
.cart-info{
    align-items:center;
    display:flex;
    flex-wrap:wrap;
}
.cart-page table th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #f79621;
}
.cart-page table td {
    padding:10px 5px;
}
.cart-page table td input {
    width:40px;
    height:30px;
    padding:5px;
}
.cart-page table td a {
    color: red;
    text-decoration:none;
    font-size:12px;
}
.cart-page table img {
    padding-right:10px;
}
.total-price{
    display:flex;
    justify-content:flex-end;
}
    .total-price table {
        border-top: 3px solid #f79621;
        width:100%;
        max-width:450px;
    }
.cart-page td:last-child{
    text-align:right;
}
.cart-page th:last-child {
    text-align: right;
}
.button-order-contain1 {
    
    
}

.button-order1 {
    margin: 0px;
    background-color: #f79621;
    padding: 15px 65px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

    .button-order1:hover {
        color: orange;
        background-color: white;
        border: 1px solid #F89521;
    }