.ic-uptop {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #F89521;
    bottom: 90px;
    right: 50px;
    /*border: 1px solid #F89521;*/
    border-radius: 10px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.text {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
.textt{
    float: left;
    width: 100%;
    padding: 10px;
   
}
.sidebar {
    float: left;
    width: 20%;
    position: inherit;
    height: 690px;
    margin-top: 0%;
    text-align: left;
    background: antiquewhite;
}
 
.sidebar h4{
    margin-bottom: 30px;
    margin-top: 5px;
}
    .sidebar .profile_image{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    .sidebar ul li {
        padding: 2px;
        border-bottom: 1px solid rgba(0,0,0,0.05); /*gạch chân ở dưới*/
        border-top: 1px solid rgba(225, 225, 225, 0.05); /*không cần cũng đc*/
    }

        .sidebar ul li a {
            font-weight: 600;
            color: rgb(255, 106, 0);
            display: block; /*xếp thành hàng*/
            width: 100%;
            position: relative;
            height: 50px;
            line-height: 40px; /* dòng cách dòng*/
            text-decoration: none;
            padding-left: 5px;
            transition: 0.3s;
            /*hiệu ứng kéo theo*/
        }

            .sidebar ul li a:before { /*có thanh dọc trắng ở nút*/
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background: antiquewhite;
                display: none;
            }

            .sidebar ul li a.active {
                background: #F4976C;
                color: antiquewhite;
                text-align: center;
            }

            .sidebar ul li a:hover { /*bg khi chuột hover vào li*/
                background: #F4976C;
            }

        .sidebar ul li:hover a {
            color: #fff;
        }
    
    .text2 {
        float: left;
        width: 70%;
        position: inherit;
        margin-right: 5%;
    }
.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
.content-mb {
    width: 80%;
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    margin-top: 2%;
}
.nd {
    width: 100%;
    text-align: left;
    font-size: 15px;
    position: relative;
    font-weight: normal;
    float: left;
}

.left1 {
    float: left;
    width: 49%;
    position: inherit;
}
    .left1 .group {
        margin-bottom: 15px;
    }
.left2 {
    float: left;
    width: 100%;
    position: inherit;
}
.input, select {
    width: 100% !important;
    min-width: 130px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}
.button-mb {
    background-color: #F4976C;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid pink;
    padding: 10px 50px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25s;
    margin-left: 350px;
    margin-top: 5px;
}
.button-mb:hover {
    background-color: #F89521;
}
@media only screen and (max-width: 600px) {
    .left1 {
        width: 100%;
    }

    .text {
        font-size: 20px;
    }

    .text2 {
        width: 100%;
        margin-left: 0;
    }
    .sidebar ul li {
       position: relative;
       float: left;
       width: 440px; 
       text-align: center; 
    }
    .sidebar {
        width: 100%;
        height:432px;
        background: antiquewhite;
    }
    .button-mb {
        margin-left: 120px;
    }
        
}
@media only screen and (max-width: 400px) {
    .sidebar ul li {
        position: relative;
        float: left;
        width: 335px;
        text-align: center;
    }
    .button-mb {
        margin-left: 70px;
    }
}
