td.motatd2 {
    background-color: #ffeccd;
}
hr.hrdetail {
    height: 3px;
    display: block;
    background-color: #F89521;
    margin: 1em 0 1em;
    width: 100%;
    max-width: 50px;
}
span {
    font-weight: bold;
    width: 100%;
}
.sizebox {
    position: relative;
    margin: 40px;
    float: left;
    width: 100%;
}
    .sizebox label {
        position: relative;
        cursor: pointer;
    }

        .sizebox label input {
            display: none;
        }

        .sizebox label span {
            position: relative;
            display: inline-block;
            width: 30px;
            color: black;
            padding: 5px;
            background-color: #fff;
        }
        .sizebox label input:checked ~ span {
            border: 1px solid black;
        }
.quantity{
    padding:30px;
    position:relative;
}
span.btnquant {
    padding: 13px;
    margin: 10px;
    background-color: #fff;
    cursor:pointer;
}
span#idquant {
    padding: 13px 30px;
    background-color: #fff;
}
.button-order-contain {
    margin-top:40px;
}

.button-order {
    margin: 0px;
    background-color: #F89521;
    padding: 15px 200px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px;
    cursor: pointer;
}

    .button-order:hover {
        color: orange;
        background-color: white;
        border: 1px solid #F89521;
    }