td.motad2 {
    background-color: #ffeccd;
}
hr.hrdetail {
    height: 3px;
    display: block;
    background-color: #F89521;
    margin: 1em 0 1em;
    width: 100%;
    max-width: 50px;
}
span {
    font-weight: bold;
    width: 100%;
}
