
    .cart-page

{
    margin: 80px auto;
}

.small-container table {
    border-collapse: collapse;
    width: 100%;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-page table th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #f79621;
}

.cart-page table td {
    padding: 10px 5px;
}

    .cart-page table td input {
        width: 40px;
        height: 30px;
        padding: 5px;
    }

    .cart-page table td a {
        color: red;
        text-decoration: none;
        font-size: 12px;
    }

.cart-page table img {
    width:80px;
    height:80px;
    padding-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

    .total-price table {
        border-top: 3px solid #f79621;
        width: 100%;
        max-width: 450px;
    }

.cart-page td:last-child {
    text-align: right;
}

.cart-page th:last-child {
    text-align: right;
}
